@model IEnumerable<Aditor.Offers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.advertiserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.revenuetype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.revenuevalue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payouttype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payoutvalue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staticvalues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offername)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.advertiserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.revenuetype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.revenuevalue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payouttype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payoutvalue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staticvalues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offername)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.offerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.offerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.offerID })
        </td>
    </tr>
}

</table>
